@import "./kit/mixins.scss";

@import "./kit/variables.scss";
@import "./kit/variables.scss";
.footer {
  @include flex;
  background: linear-gradient(89deg, #5240b4 -23.42%, #b596fd 128.33%);
  padding-top: 39px;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 394px;
  &_logo {
    @include flex-ali_s-jc_s;
    gap: 37px;
    &_img {
      @include flex-flexdirect_column;
      & h1 {
        color: #fff;
        font-size: 18px;

        font-family: $font-family-sans-pro-sans-pro;
        margin-top: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 88.889% */
        letter-spacing: 3.6px;
        text-transform: uppercase;
      }
    }
    &_text {
      @include flex-mobile-menu;
      & p {
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.7);

        font-family: $font-family-sans-pro-sans-pro;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 37px;
        font-weight: 400;
        line-height: 19px; /* 118.75% */
      }
      & a {
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        font-family: $font-family-sans-pro-sans-pro;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 37px;
        font-weight: 400;
        line-height: 19px; /* 118.75% */
      }
    }
  }
  &_about {
    & p {
      color: rgba(255, 255, 255, 0.7);

      font-family: $font-family-sans-pro-sans-pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px; /* 118.75% */
    }
  }
}
.footer_mobile {
  display: none;
}
